.table {
    margin-bottom: 10px;
}
.stress {
    font-size:16px;
    font-weight: bold;
}

.cheng {
    color: #ff6600;
}

.pagination{text-align:right;margin-top:20px;margin-bottom: 20px;}
.pagination li{margin:0px 1px; border:1px solid #e6e6e6;padding: 3px 8px;display: inline-block;}
.pagination .active{background-color: #5a98de;color: #fff;}
.pagination .disabled{color:#aaa;}
.game_page {margin-right: 43px;}
.gamelist {height: 580px;width: 100%;overflow: hidden;}
.game {
    width: 23%;
    height: 266px;
    float: left;
    padding: 6px;
    margin: 6px;
    overflow: hidden;
    transition: box-shadow 0.7s;
}
.game:hover {
    box-shadow: 0px 0px 30px #5a98de;
}

.game table tbody tr td{
    line-height: 25px;
    font-size: 14px;
    padding: 3px;
}

.td-l {
    width: 100px;
}

.game-server-button {
    float:left;
    width:160px;
    padding:3px;
    margin:3px;
}
