{include file="public/_meta"}
<title>添加游戏 - 网页游戏管理</title>
</head>
<body>
<article class="page-container">
	<form class="form form-horizontal" id="hecheng-form">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>游戏名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="" name="name">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>游戏编号：</label>
            <div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="" name="gid">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>游戏平台：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
				<select name="ptid" class="select">
                    {volist name="gamePt" id="vo"}
                    <option value="{$vo.id}">{$vo.name}</option>
                    {/volist}
				</select>
				</span> </div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>游戏类型：</label>
            <div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
				<select name="lxid" class="select">
                {volist name="gameClass" id="vo"}
                <option value="{$vo.id}">{$vo.name}</option>
                {/volist}
				</select>
				</span> </div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">游戏说明：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea name="description" cols="" rows="" class="textarea"  placeholder="说点什么..." datatype="*10-100" dragonfly="true" nullmsg="备注不能为空！" onKeyUp="$.Huitextarealength(this,200)"></textarea>
				<p class="textarea-numberbar"><em class="textarea-length">0</em>/200</p>
			</div>
		</div>
		<!-- <div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">游戏小图：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input id="file_upload"  type="file" multiple="true" >
	            <img style="display: none" id="upload_org_code_img" src="" class="radius">
	            <input id="file_upload_image" name="pic" type="hidden" multiple="true" value="">（50*50游戏小图标）
			</div>
		</div> -->
        <!-- <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">游戏中图：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input id="file_upload_pic2"  type="file" multiple="true" >（220*330首页精品推荐位置图片）
                <img style="display: none" id="upload_org_code_img_pic2" src="" class="radius">
                <input id="file_upload_image_pic2" name="pic2" type="hidden" multiple="true" value="">
            </div>
        </div> -->
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">游戏中图：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input id="file_upload_pic3"  type="file" multiple="true" >（220*120首页热门游戏小图片）
                <img style="display: none" id="upload_org_code_img_pic3" src="" class="radius">
                <input id="file_upload_image_pic3" name="pic3" type="hidden" multiple="true" value="">
            </div>
        </div>
        <!-- <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">游戏中图：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input id="file_upload_pic4"  type="file" multiple="true" >（500*300首页正中游戏页面图片）
                <img style="display: none" id="upload_org_code_img_pic4" src="" class="radius">
                <input id="file_upload_image_pic4" name="pic4" type="hidden" multiple="true" value="">
            </div>
        </div> -->
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">游戏大图：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input id="file_upload_picmax"  type="file" multiple="true" >（游戏主页背景大图，最好是宽1920）
                <img style="display: none" id="upload_org_code_img_picmax" src="" class="radius">
                <input id="file_upload_image_picmax" name="picmax" type="hidden" multiple="true" value="">
            </div>
        </div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">游戏内容：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<script id="editor" name="content" type="text/plain" style="width:100%;height:400px;"></script>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button class="btn btn-primary radius" id="hecheng-button-submit" type="button"><i class="Hui-iconfont">&#xe632;</i> 保存并提交审核</button>
				<button onClick="removeIframe();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>
	</form>
</article>

{include file="public/_footer"}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/admin/hui/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/admin/hui/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__STATIC__/admin/hui/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__STATIC__/admin/hui/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="__STATIC__/admin/hui/lib/webuploader/0.1.5/webuploader.min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/hui/lib/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="__STATIC__/admin/hui/lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script type="text/javascript" src="__STATIC__/admin/hui/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
<script src="__STATIC__/admin/js/article-add.js" charset="utf-8"></script>
<script type="text/javascript" src="__STATIC__/admin/js/upload-image.js"></script>
<script type="text/javascript">
	var SCOPE = {
		'uploadScript': '{:url('api/image/upload')}',
		'save_url': '{:url('add')}',
		'jump_url': '{:url('index')}',
	};
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>
