{include file="public/_meta"}
<title>资讯列表</title>
</head>
<body>

    {include file="public/_header"}
        <div align="center" class="bodybk" style="background:#FFFFFF">
            <div class="bodydiv" align="left">
                <div class="l_bk">
                    <table width="100%" border="0" cellpadding="2" cellspacing="1" bgcolor="#EEEEEE">
                            <tr bgcolor="#FFFFFF">
                                <td width="12%" align="center" bgcolor="#CCCCCC">
                                </td>
                                <td width="88%">
                                        <div class="page2" style="float:left;width:100px;text-align:center">
                                            <a href="" title="查看开区信息">
                                            </a>
                                        </div>
                                </td>
                            </tr>
                    </table>
                </div>
                <div class="l_bk">
                    <table width="100%" border="0" cellpadding="2" cellspacing="1" bgcolor="#99CCFF">
                        <tr bgcolor="#FFFFFF">
                            <th width="15%">游戏名称</th>
                            <th width="23%">开区时间</th>
                            <th width="24%">游戏服务器</th>
                            <th width="19%">游戏平台</th>
                            <th width="19%">进入游戏</th>
                        </tr>
                            <tr bgcolor="#FFFFFF" onmouseover="this.bgColor='#FF9933'" onmouseout="this.bgColor='#FFFFFF'">
                                <td>《霸王之心》</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><a href="" title="点击进入游戏"><span class="page2">进入游戏</span></a></td>
                            </tr>
                    </table>
                </div>
            </div>
        </div>
        {include file="public/_footer"}
</body>
</html>
