{include file="public/_meta"}
<title>我的桌面</title>
</head>
<body>
<div class="page-container">
	<p class="f-20 text-success">欢迎使用一起玩页游平台</p>
	<p>登录次数：18 </p>
	<p>上次登录时间：2014-6-14 11:19:55</p>
	<table class="table table-border table-bordered table-bg ">
		<thead>
			<tr>
				<th colspan="5" scope="col">游戏数据</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td width="10%">游戏数量：</td>
				<td width="10%"><span class="stress cheng">33</span>个</td>
				<td width="10%">游戏服务器：</td>
				<td>共<span class="stress cheng">963</span>个，其中已经开区的<span class="stress cheng">963</span>个，即将开区的<span class="stress cheng">0</span>个</td>
			</tr>
		</tbody>
	</table>

    <table class="table table-border table-bordered table-bg">
        <thead>
            <tr>
                <th colspan="5" scope="col">玩家数量</th>
            </tr>
        </thead>
        <tbody>
            <tr >
                <td width="10%";>注册数量：</td>
                <td width="10%"><span class="stress cheng">867</span>个</td>
                <td width="10%">充值金额：</td>
                <td>支付成功：<span class="stress cheng">￥3349</span>元，未支付成功的有：<span class="stress cheng">￥5369</span>元</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-border table-bordered table-bg">
        <thead>
            <tr>
                <th colspan="6" scope="col">网站咨询</th>
            </tr>
        </thead>
        <tbody>
            <tr >
                <td width="10%";>发布数量：</td>
                <td><span class="stress cheng">117</span>篇</td>
            </tr>
        </tbody>
    </table>

</div>
<footer class="footer mt-20">
	<div class="container">
		<p>感谢jQuery、layer、laypage、Validform、UEditor、My97DatePicker、iconfont、Datatables、WebUploaded、icheck、highcharts、bootstrap-Switch<br>
			Copyright &copy;2015-2017 H-ui.admin v3.1 All Rights Reserved.<br>
			本后台系统由<a href="http://www.h-ui.net/" target="_blank" title="H-ui前端框架">H-ui前端框架</a>提供前端技术支持</p>
	</div>
</footer>
{include file="public/_footer"}
</body>
</html>
