{include file="public/_meta"}
<title>一起玩.游戏,网页游戏,手机游戏_一起玩.游戏_028-86051177</title>
</head>
<body>

    {include file="public/_header"}
    <div style="height:410px;overflow:hidden;">
        {include file="public/_banner"}
    </div>
        <div align="center" class="bodybk">
            <div class="bodydiv" align="left">
                <table width="1200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="950" valign="top">
                            <!--精品推荐-->
                            <div class="jptjbk">
                                <div class="hong20T">精品游戏推荐</div>
                                <div class="box">
                                    {volist name="jingping_img" id="vo"}
    			                    <div class='jptj'><div class='jptj2'><span class='cheng18B'>{$vo.gid|getGameNameById}</span></div><a href="{:url('Youxi/index',['id'=>$vo.gid])}"><img src="{$vo.jingping_img}" width='220' height='330' border='0' /></a></div>
                                    {/volist}
                                    <div style="clear:both"></div>
                                </div>
                            </div>
                            <!--@精品推荐-->

                            <!--热门游戏-->
                            <div class="box">
                                <div class="hong20T">热门游戏</div>
                                <div class="youxibox">
                                    {volist name="hotGames" id="vo"}
                                    <div class="youxi">
                                        <div class="youxiimg"><a href="{:url('Youxi/index',['id'=>$vo.id])}" title="{$vo.name}"><img src="{$vo.pic3}" width="200" height="100" border="0" /></div>
    				                    <div class="youxibt">
        					                <div class="inyouxi"><a href="{:url('Youxi/index',['id'=>$vo.id])}" title="点击进入游戏">进入游戏</a></div>
                                            <div class="youxiname">
                                                <a href="{:url('Youxi/index',['id'=>$vo.id])}" title="{$vo.name}">{$vo.name}</a>
                                            </div>
                                        </div>
                                    </div>
                                    {/volist}
                                    <div style="clear:both"></div>
                                </div>
                            </div>
                            <!--@热门游戏-->

                            <!-- 首页中部广告图-->
                            <div class="box"><a href="{:url('Youxi/index',['id'=>$zhongbu_img.gid])}"><img src="{$zhongbu_img.zhongbu_img}" width="950" height="144" style="cursor:pointer;" /></a></div>

                            <!--最新游戏-->
                            <div class="box">
                                <div class="hong20T">最新游戏</div>
                                <div class="youxibox">
                                    {volist name="newGames" id="vo"}
                                    <div class="youxi" style="width:200px;">
                                        <div class="youxiimg"><a href="{:url('Youxi/index',['id'=>$vo.id])}" title="{$vo.name}"><img src="{$vo.pic3}" width="200" height="100" border="0" /></div>
                				        <div class="youxibt">
                					        <div class="inyouxi"><a href="{:url('Youxi/index',['id'=>$vo.id])}" title="点击进入游戏">进入游戏</a></div>
                                            <div class="youxiname">
                                                <a href="{:url('Youxi/index',['id'=>$vo.id])}" title="{$vo.name}">{$vo.name}</a>
                                            </div>
                                        </div>
                                    </div>
                                    {/volist}
                                    <div style="clear:both"></div>
                                </div>
                            </div>
                            <!--@最新游戏-->
                        </td>
                        <td valign="top">
                            <!--最新开服-->
                            <div class="box_top" style="width:240px">
                                <div class="hong20T">最新开服务器</div>
                                <div>
                                    <table width="100%" border="0" cellspacing="1" cellpadding="0">
                                        {volist name="newServer" id="vo"}
                                        <tr>
                                            <td width="12%" align="center"><img src="__STATIC__/images/no/{$i}.gif" width="13" height="13" /></td>
                                            <td width="65%" nowrap="nowrap">
                                                <a href="{:url('game/index',['id'=>$vo.id])}" target="_blank" title="点击进入{$vo.game}{$vo.name}">{$vo.game}{$vo.name}</a>
                                            </td>
                                            <td width="23%" nowrap="nowrap"><a href="{$vo.id}" target="_blank" title="点击进入{$vo.game}{$vo.name}"><span class="hui12">{$vo.create_time}</span></a></td>
                                        </tr>
                                        {/volist}
                                    </table>
                                </div>
                            </div>
                            <!--@最新开服-->

                            <!--右上广告-->
                            <div class="r_gg3"><a href="{:url('youxi/index',['id'=>$youshang_img.gid])}"><img src="{$youshang_img.youshang_img}" border="0" /></a></div>
                            <!--@r_gg-->

                            <!--@新服预告-->
                            <div class="box" style="width:240px">
                                <div class="hong20T">游戏开服预告</div>
                                    <div style="min-height:100px">
                                        <table width="100%" border="0" cellspacing="1" cellpadding="0">
                                            {volist name="readyServer" id="vo" empty="$readyEmpty"}
                                            <tr>
                                                <td width="10%" align="center"><img src="__STATIC__/images/no/1_{$i}.gif" /></td>
                                                <td width="70%" nowrap="nowrap">
                                                    <a href="http://qzs.qq.com/snsapp/app/bee/widget/open.htm?content={:urlencode($vo.game.$vo.name.'开新区啦！')}&time={$vo.create_time}&advance=15&url={:urlencode("http://www.175jy.com/youxi/".$vo.id.".html")}" target="_blank" title="添加提醒">{$vo.game}{$vo.name}
                                                    <span class="hui12">{$vo.create_time}</span></a>
                                                </td>
                                                <td width="14%" nowrap="nowrap"><a href="http://qzs.qq.com/snsapp/app/bee/widget/open.htm?content={:urlencode($vo.game.$vo.name.'开新区啦！')}&time={$vo.create_time}&advance=15&url={:urlencode("http://www.175jy.com/youxi/".$vo.id.".html")}" target="_blank" title="添加提醒"><img src="__STATIC__/images/naozhong.png" border="0" /></a></td>
                                            </tr>
                                            {/volist}
                                        </table>
                                    </div>
                            </div>
                            <!--@新服预告-->
                            <!--右下广告-->
                            <div class="r_gg2"><a href="{:url('Youxi/index',['id'=>$youxia_img.gid])}"><img src="{$youxia_img.youxia_img}" /></a></div>
                            <!--@r_gg-->

                            <!--游戏公告-->
                            <div class="box">
                                <div class="hong20T">游戏公告</div>
                                <div style="min-height:200px;padding:5px">
                                    {volist name="gameArticle" id="vo" empty="$articleEmpty"}
                                    <li class="slist"><a href="{:url('Article/news',['id'=>$vo.id])}" title="{$vo.title}" target="_blank">{:mb_substr($vo.title,0,15,'utf-8')}</a></li>
                                    {/volist}
                                </div>
                            </div>
                            <!--@游戏公告-->
                        </td>
                    </tr>
                </table>

                <!--底部广告-->
                <div class="h_gg">
                    {volist name="dibu_img" id="vo"}
                    <div><a href="{:url('youxi/index',['id'=>$vo.gid])}"><img src="{$vo.dibu_img}" width="580" height="150" border="0" /></a></div>
                    {/volist}

                    <span style="clear:both"></span>
                </div>
                <!--@广告-->

                <!--玩家相片-->
                <div class="box">
                    <div class="hong20T">玩家相片</div>
                    <div>
                        {volist name="users" id="vo"}
                        <div class="w_p">
                            <div><img src="{$vo.pic}" width="100" height="100" /></div>
                            <div>{$vo.name}</div>
                        </div>
                        {/volist}
                    </div>
                    <div style="clear:both"></div>
                </div>
                <!--@玩家相片-->

                <!--link-->
                <div>
                    <div class="box hong20T">友情链接</div>
                    <div class="link">
                        {volist name="links" id="vo"}
                        <div><a href="{$vo.url}" target="_blank" alt="{$vo.name}">{$vo.name}</a></div>
                        {/volist}
                    </div>
                    <div style="clear:both"></div>
                </div>
                <!--@link-->
            </div>
        </div>
        {include file="public/_footer"}
    </body>
</html>
