<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="__STATIC__/index/css/pay.css">
    <script type="text/javascript" src="__STATIC__/index/js/jquery181.js"></script>
    <script type="text/javascript" src="__STATIC__/index/js/pay.js"></script>
    <title>{$user.users}：欢迎登陆一起玩.游戏用户中心！_一起玩.游戏</title>
</head>

<body>

    <div class="header">
        <div class="hd-top">
            <div class="w1200">
                <div class="top-logo fl">
                    <a href="/" target="_blank"><img src="__STATIC__/images/logo.png" alt="" width="150" height="80"></a>
                    <h1 class="logo-pay">充值中心</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="pay-main ">
            <div class="">
                <!--渠道选择-->
                <div class="pay-left fl">
                    <ul>
                        <li>
                            <ul>
                                <li>
                                    <a href="javascript:void(0);" class="channel-a on" date-type="13">
                                        <span class="channel-icon left-icon-54"></span>
                                        <span class="channel-name">微信支付</span>
                                        <span class="channel-status channel-status-0"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="channel-a" date-type="12">
                                        <span class="channel-icon left-icon-12"></span>
                                        <span class="channel-name">支付宝</span>
                                        <span class="channel-status channel-status-0"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="channel-a" date-type="14">
                                        <span class="channel-icon left-icon-60"></span>
                                        <span class="channel-name">中国银联</span>
                                        <span class="channel-status channel-status-0"></span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="pay-type-title">
                                更多充值方式
                            </div>
                            <ul>
                                <li>
                                    <a href="javascript:void(0);" class="channel-a" date-type="wy">
                                        <span class="channel-icon left-icon-83"></span>
                                        <span class="channel-name">网上银行</span>
                                        <span class="channel-status channel-status-0"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="channel-a" date-type="card">
                                        <span class="channel-icon left-icon-card"></span>
                                        <span class="channel-name">卡类充值</span>
                                        <span class="channel-status channel-status-0"></span>
                                    </a>
                                </li>
                                <li></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <iframe name="ispay-iframe" style="display:none"></iframe>
                <form name="form1" action="{:url('ispay')}" method="post" target="ispay-iframe">


                <!--订单填写-->
                <div class="pay-right fl">
                    <div class="channel-order cf">
                        <h2 class="order-title">微信支付</h2>
                        <div class="order-table order-table-0">
                            <!--用户名-->
                            <div class="order-tr cf pr order-account-name">
                                <div class="order-td order-td-left">
                                    <label>充值账号：</label>
                                </div>
                                <div class="order-td order-td-right">
                                    <input type="input name-input" maxlength="16" title="充值账号" disabled value="{$user.users}">
                                </div>
                            </div>
                            <!--充值游戏-->
                            <div class="order-tr cf pr order-account-name">
                                <div class="order-td order-td-left">
                                    <label>充值游戏：</label>
                                </div>
                                <div class="order-td order-td-right">
                                    <input type="input name-input" title="充值游戏" disabled value="{$serverInfo.game}{$serverInfo.name}">
                                    <input type="hidden" name="sid" value="{$serverInfo.id}">
                                </div>
                            </div>
                            <!--选择金额-->
                            <div class="order-tr cf order-amount hide-8">
                                <div class="order-td order-td-left">
                                    <label>选择金额：</label>
                                </div>
                                <div class="order-td order-td-right">
                                    <label class="pay-money checked" date-money="10">10元</label>
                                    <label class="pay-money" date-money="20">20元</label>
                                    <label class="pay-money" date-money="30">30元</label>
                                    <label class="pay-money" date-money="50">50元</label>
                                    <label class="pay-money" date-money="100">100元</label>
                                    <label class="pay-money" date-money="200">200元</label>
                                    <label class="pay-money" date-money="500">500元</label>
                                    <label class="pay-money" date-money="1000">1000元</label>
                                    <label class="pay-money" date-money="2000">2000元</label>
                                    <label class="pay-money" date-money="5000">5000元</label>
                                    <label class="pay-money" date-money="10000">10000元</label>
                                </div>
                            </div>
                            <!--选择银行-->
                            <div class="order-tr cf order-pay-bank hide">
                                <div class="order-td order-td-left">
                                    <label>选择银行：</label>
                                </div>
                                <div class="order-td order-td-right">

                                    {volist name="wy" id="vo"}
                                    <span class="pay-bank" bank-id="{$vo.id}">
                                        <label>
                                            <div class="img-div"><img src="{$vo.pic}" alt="" width="150" height="50"></div>
                                            <span class="pay-bank-input">
                                                {$vo.name}
                                            </span>
                                        </label>
                                    </span>
                                    {/volist}
                                </div>
                            </div>
                            <!--卡类充值-->
                            <div class="order-tr cf order-pay-card hide">
                                <div class="order-td order-td-left">
                                    <label>选择卡类：</label>
                                </div>
                                <div class="order-td order-td-right">

                                    <!-- <span class="pay-card checked">
                                        <label>
                                            <div class="img-div"><img src="" alt="" width="150" height="50"></div>
                                            <span class="pay-card-input">
                                                <input type="radio" name="card" value="" checked>移动充值卡
                                            </span>
                                        </label>
                                    </span> -->
                                    {volist name="card" id="vo"}
                                    <a href="javascript:;" class="pay-card" bank-id="{$vo.id}">
                                        <span class="card-icon">{$vo.name}</span>
                                        <span class="order-checked"></span>
                                    </a>
                                    {/volist}
                                </div>
                            </div>
                            <!--提交按钮-->
                            <div class="order-tr cf order-btn">
                                <div class="order-td order-td-left">
                                    <label></label>
                                </div>
                                <div class="order-td order-td-right">
                                    <input type="hidden" name="money" id="money" value="10" >
                                    <input type="hidden" name="bank" id="bank" value="13">
                                    <button type="submit" class="pay-confirm">立即充值</button>
                                    <input type="hidden" name="forms" value="pay">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div class="footer" align="center">
        <div style="width:1200px">
            <div>防沉迷认证 | 意见反馈 | 家长监护 | 关于我们 | 人才招聘 | 商务合作 </div>
            <div>＠2015-2017 {$config.bq} <a href="{$config.xukez}" target="_blank" style="color:#333333;">{$config.xuke}</a> 备案号：{$config.icp} 客服电话:{$config.phone}
            </div>
            <div>公司地址：成都市天府大道530号天祥广场10楼 邮箱：2477037269@qq.com
                {if condition="$_SERVER['SERVER_NAME'] eq 'www.comecrazy.com'"}
                <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=51019002000968 " style="display:inline-block;text-decoration:none;height:14px;line-height:20px;">
        		<img src="__STATIC__/images/batb.png" style="float:left;"/>
        		<p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#333333;">川公网安备 51019002000968号</p></a>
                {else /}
                <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=51019002000995 " style="display:inline-block;text-decoration:none;height:14px;line-height:20px;">
        		<img src="__STATIC__/images/batb.png" style="float:left;"/>
        		<p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#333333;">川公网安备 51019002000995号</p></a>
                {/if}
            </div>
        </div>
    </div>
</body>

</html>
