{include file="youxipublic/_meta"}
<style type="text/css">
    body{height:100%;background-image: url('{$youxi.picmax}');	background-repeat: no-repeat;background-position:top;}
</style>
</head>

<body>
    <div class="main wrap clearfix">
        {include file="youxipublic/_top"}
        {include file="youxipublic/_left"}
        <div class="banner_and_new clearfix">
            <div class="banner fl" id="focus">
                <ul>
                    <li><a href="" target="_blank"><img src="{$youxi.pic4}"></a></li>
                </ul>
            </div>
            <!--微端下载 新手卡 VIP -->
            <div class="threebtn">
                <a href="{:url('Pay/index')}" target="_blank" class="btn2"><em></em><span><i>充值中心</i><br>好礼享不停</span></a>
                {switch name="$youxi.id"}
                    {case value="67"}<a href="/wd/guicd/175jy_gcd.exe" class=""><em></em><span><i>微端下载</i><br>仅需1秒急速下载</span></a>{/case}
                    {case value="72"}<a href="/wd/qmcj/175jy_qmcj.exe" class=""><em></em><span><i>微端下载</i><br>仅需1秒急速下载</span></a>{/case}
                    {case value="73"}<a href="/wd/jtfs/175jy_jtfs.exe" class=""><em></em><span><i>微端下载</i><br>仅需1秒急速下载</span></a>{/case}
                    {case value="69"}<a href="/wd/bwzx/175jy_bwzx.exe" class=""><em></em><span><i>微端下载</i><br>仅需1秒急速下载</span></a>{/case}
                    {case value="68"}<a href="/wd/myzs/175jy_myzs.exe" class=""><em></em><span><i>微端下载</i><br>仅需1秒急速下载</span></a>{/case}
                    {case value="62"}<a href="/wd/lycq/lycqi.exe" class=""><em></em><span><i>微端下载</i><br>仅需1秒急速下载</span></a>{/case}
                    {case value="82"}<a href="/wd/ztzn/175jy_ztzn.exe" class=""><em></em><span><i>微端下载</i><br>仅需1秒急速下载</span></a>{/case}
                    {default /}<a href="" class=""><em></em><span><i>微端下载</i><br>仅需1秒急速下载</span></a>
                {/switch}

                <a href="{:url('xinshouka',['id' => $youxi.id])}" target="_blank" class="btn"><em></em><span><i>新手礼包</i><br>新手必备</span></a>
            </div>
            <!--微端下载 新手卡 VIP -->
        </div>

        <div class="rel main-right">
            <!--新闻公告-->
            <div class="w_new">
                <div class="w_newnav">
                    <p><a href="{:url('article',['id' => $youxi.id])}" id="news_more" title="更多"><img src="__STATIC__/youxi/picture/jia.jpg" alt=""></a></p>
                    <ul class="clear">
                        <li class="news_nav" rec="zonghe/" attr="01"><a class="current ie6"  data="new1">综合</a></li>
                        <!-- <li class="news_nav" rec="xinwen/" attr="02"><a class="ie6"  data="new2">新闻</a></li>
                        <li class="news_nav" rec="gonggao/" attr="03"><a class="ie6"  data="new3">公告</a></li>
                        <li class="news_nav" rec="huodong/" attr="04"><a class="ie6"  data="new4">活动</a></li> -->
                    </ul>
                </div>

                <div class="new_contents">
                    <div id="new1" style="display:block;">
                        <p class="headlines">
                            {volist name="gameArticle" id="vo" length="1"}
                            <a href="{:url('Article/news',['id'=>$vo.id])}" target="_blank">{:mb_substr($vo.title,0,18,'utf-8')}</a>
                            {/volist}
                        </p>
                        <ul>
                            {volist name="gameArticle" id="vo" offset="1" length="7"}
                            <li><a class="w-new-title" href="" target="_blank">[综合]</a><a class="w-new-content" href="{:url('news',['id'=>$youxi.id,'aid'=>$vo.id])}" title="{:mb_substr($vo.title,0,18,'utf-8')}" target="_blank">{:mb_substr($vo.title,0,18,'utf-8')}</a>[{$vo.create_time}]</li>
                            {/volist}
                        </ul>
                    </div>

                    <div id="new2" style="display:none;">
                        <p class="headlines">

                        </p>
                        <ul>

                        </ul>
                    </div>
                    <div id="new3" style="display:none;">
                        <p class="headlines">

                        </p>
                        <ul>
                        </ul>
                    </div>
                    <div id="new4" style="display:none;">
                        <p class="headlines">

                        </p>
                        <ul>

                        </ul>
                    </div>
                </div>
            </div>
            <!--新闻公告-->
            <!--游戏特色-->
            <div class="yxts">
                <p class="yxtsfont">{$youxi.content}</p>
            </div>

            <div class="zhiye layout3 clearfix">
                <div class="box fl">
                    <div class="rel box_title">
                        <p class="tab-title abs">游戏资料</p>
                        <i class="tab-title-line abs yxzl"></i>
                        <a class="more_c" href="" title="更多"><img src="__STATIC__/youxi/picture/jia1.jpg" alt=""></a>
                    </div>
                    <div class="fl data-list-con"></div>
                </div>
            </div>
        </div>
        <div class="cl"></div>
    </div>


<script type="text/javascript">
//首页新闻切换
$(".w_newnav ul li a").mouseover(function() {
    var title = $(this);
    $(this).parent().siblings().find("a").removeClass("current");
    $(this).parent().css({"z-index":"2"});
    $(this).parent().siblings("li").css({"z-index":"1"});
    $(this).addClass("current");
    $(".new_contents").find("div").hide();
    $(".new_contents").find("#" + title.attr("data")).show();
});
</script>

{include file="youxipublic/_foot"}
