{include file="youxipublic/_meta"}
<style type="text/css">
    body {
        height: 100%;
        background-image: url('{$youxi.picmax}');
        background-repeat: no-repeat;
        background-position: top;
    }
</style>
</head>

<body>
    <div class="main wrap clearfix">
        {include file="youxipublic/_top"} {include file="youxipublic/_left"}
        <div class="card-wrap">
            <div class="con-title">新闻中心
                <p>您当前所在的位置：
                    <a href="{:url('index',['id' => $youxi.id])}">{$youxi.name}</a>>新闻中心</p>
            </div>
            <div class="contains">
                <div class="small_title">
                    <h1>{$news.title}</h1>
                    <div class="autor">{$news.create_time}</div>
                </div>
                <div class="data-box">
                    <div class="article">
                       {$news.content}
                    </div>
                </div>
            </div>
            <div class="xinbg"></div>
        </div>
    </div>
    {include file="youxipublic/_foot"}