<div style="background-color:#888888;margin-top:10px" align="center">
    <div style="width:1200px">
        <div>防沉迷认证 | 意见反馈 | 家长监护 | 关于我们 | 人才招聘 | 商务合作 </div>
        <div>＠2015-2017 {$config.bq} <a href="{$config.xukez}" target="_blank" style="color:#333333;">{$config.xuke}</a> 备案号：{$config.icp} 客服电话:{$config.phone}
        </div>
        <div>公司地址：成都市天府大道530号天祥广场10楼 邮箱：2477037269@qq.com
            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=51019002000968 " style="display:inline-block;text-decoration:none;height:14px;line-height:20px;">
    		<img src="__STATIC__/images/batb.png" style="float:left;"/>
    		<p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#333333;">川公网安备 51019002000968号</p></a>
        </div>
    </div>
</div>
