<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta property="qc:admins" content="2444407777621456375" />
    <link href="__STATIC__/index/css/css.css" rel="stylesheet" type="text/css" />
    <link href="__STATIC__/index/css/style.css" rel="stylesheet" type="text/css" />
    <link href="__STATIC__/index/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__STATIC__/index/js/jquery181.js"></script>
    <script type="text/javascript" src="__STATIC__/index/js/jquery.js"></script>
    <script type="text/javascript" src="__STATIC__/index/js/jquery.event.drag-1.5.min.js"></script>
    <script type="text/javascript" src="__STATIC__/index/js/jquery.touchSlider.js"></script>
