<div class="list-group">
    <a href="" class="list-group-item active">用户中心</a>
    <a href="{:url('User/userInfo')}" title="我的详细资料" class="list-group-item">我的详细资料</a>
    <a href="{:url('User/playedGame')}" title="我玩过的游戏" class="list-group-item">我玩过的游戏</a>
    <a href="{:url('User/payInfo')}" title="我的充值记录" class="list-group-item">我的充值记录</a>
</div>
<div class="list-group">
    <a href="" class="list-group-item active">CPS推广中心</a>
    <a href="{:url('User/cpsUrl')}" title="我的推广链接" class="list-group-item">我的推广链接</a>
    <a href="{:url('User/cpsUser')}" title="我的推广成果" class="list-group-item">我的推广成果</a>
    <a href="{:url('User/cpsPay')}" title="玩家充值记录" class="list-group-item">玩家充值记录</a>
</div>
