{include file="public/_meta"}
<title>新用户注册</title>
<script>
    $(function () {
        $(".tx").mouseenter(function () {
            $("#img").css('src', this.src);
            $(this).fadeTo(1000, 0.5);
        });

    });
</script>
</head>

<body>
    {include file="public/_header"}

    <div align="center" class="bodybk">
        <div class="w1000 register-main">
            <div class="mod-register-wp">
                <ul class="register-tab">
                    <li class="active">账号注册</li>
                    <li>手机注册</li>
                </ul>
                <div class="register-tab-con">
                    <div class="register-item register-account" style="display:block;">
                        <form id="register-form" >
                            <div class="w-item">
                                <label for="" class="w-label">账号：</label>
                                <input type="text" name="LOGIN_ACCOUNT" id="users" class="w-input" placeholder="帐号由4~12位数字、字母组成">
                                <div class="w-tips"></div>
                            </div>
                            <div class="w-item">
                                <label for="" class="w-label">密码：</label>
                                <input type="password" name="PASSWORD" id="pass" class="w-input" placeholder="支持6~20位字母、数字">
                                <div class="w-tips"></div>
                            </div>
                            <div class="w-item">
                                <label for="" class="w-label">确认密码：</label>
                                <input type="password" name="PASSWORD1" class="w-input" id="pass2" placeholder="请确认密码">
                                <div class="w-tips"></div>
                            </div>
                            <div class="w-item">
                                <label for="" class="w-label">真实姓名：</label>
                                <input type="text" name="NAME" class="w-input" placeholder="请输入真实姓名，如 张三">
                                <div class="w-tips"></div>
                            </div>
                            <div class="w-item">
                                <label for="" class="w-label">身份证号：</label>
                                <input type="text" name="ID_CARD_NUMBER" class="w-input" placeholder="请输入有效的18位身份证号码">
                                <div class="w-tips"></div>
                            </div>
                            <div class="w-item">
                                <label for="" class="w-label"></label>
                                <div class="w-div"><i class="icon-cb icon-cbed" id="agreement-reg"></i><a href="http://www.175jy.com/yhxy.html" target="_blank">我已阅读并同意《用户注册服务协议》</a></div>
                                <div class="w-tips"></div>
                            </div>
                            <div class="w-item">
                                <label for="" class="w-label"></label>
                                <div class="w-div">
                                    <input type="submit" id="submit-reg" class="w-submit" value="立即注册" /> </div>
                            </div>
                        </form>
                    </div>
                    <div class="register-item register-phone none" style="display:none;">
                        <form id="register-phone">
                            <div class="w-item">
                                <label for="" class="w-label">手机号码：</label>
                                <input type="text" name="LOGIN_ACCOUNT" id="phone" class="w-input" placeholder="请输入您的手机号码" maxlength="11">
                                <div class="w-tips"></div>
                            </div>
                            <div class="w-item">
                                <label for="" class="w-label">短信验证码：</label>
                                <div class="w-div">
                                    <input type="text" name="captcha" id="captcha" class="w-input" placeholder="短信验证码由4位数字组成">
                                    <input type="button" value="发送短信验证码" onClick="sendCaptcha(this);" class="w-btn" id="btn-pscap">
                                </div>
                                <div class="w-tips"></div>
                            </div>
                            <div class="w-item">
                                <label for="" class="w-label">密码：</label>
                                <input type="password" name="PASSWORD" id="phone_pass" class="w-input" placeholder="支持6~20位字母、数字或特殊字符">
                                <div class="w-tips"></div>
                            </div>
                            <div class="w-item">
                                <label for="" class="w-label">确认密码：</label>
                                <input type="password" name="PASSWORD1" id="phone_pass1" class="w-input" placeholder="请确认密码">
                                <div class="w-tips"></div>
                            </div>
                            <div class="w-item">
                                <label for="" class="w-label">真实姓名：</label>
                                <input type="text" name="NAME" id="phone_realname" class="w-input" placeholder="请输入真实姓名，如 张三">
                                <div class="w-tips"></div>
                            </div>
                            <div class="w-item">
                                <label for="" class="w-label">身份证号：</label>
                                <input type="text" name="ID_CARD_NUMBER" id="phone_idcard" class="w-input" placeholder="请输入有效的18位身份证号码">
                                <div class="w-tips"></div>
                            </div>
                            <div class="w-item">
                                <label for="" class="w-label"></label>
                                <div class="w-div"><i class="icon-cb icon-cbed" id="agreement-reg"></i><a href="http://www.175jy.com/yhxy.html" target="_blank">我已阅读并同意《用户注册服务协议》</a></div>
                                <div class="w-tips"></div>
                            </div>
                            <div class="w-item">
                                <label for="" class="w-label"></label>
                                <div class="w-div">
                                    <input type="submit" class="w-submit" id="submit-phone" value="立即注册" /> </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {include file="public/_footer"}
</body>
<script type="text/javascript">
    var SCOPE = {
        'save_url': "{:url('add')}",
        'login_url': "{:url('Register/login')}",
        'register_url': "{:url('Register/index')}",
        'checkUser_url': "{:url('Register/checkUser')}",
        'sendSms_url': "{:url('api/Sendsms/index')}",
        'checkCaptcha_url': "{:url('api/Sendsms/checkCaptcha')}"
    };
</script>
<script src="__STATIC__/index/js/jquery.validator.js"></script>
<script src="__STATIC__/index/js/register.js"></script>
</html>