<div class="rel" id="header">
    <div class="touming">
        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr align="center" class="youxi_nav">
                <td height="50"><a href="/" title="官网首页">官网首页</a></td>
                <td><a href="{:url('Gamelist/index')}" title="游戏列表">游戏列表</a></td>
                <td><a href="{:url('Article/index')}" title="游戏资讯">游戏资讯</a></td>
                <!-- <td><span class="hong20T">{$youxi.name}</span>-<span class="hei18B">等你来战！</span></td> -->
                <td><a href="{:url('Article/index')}" title="常见问题">常见问题</a></td>
                <td>
                    <a href="{:url('Pay/index')}" target="_blank" title="玩家登录后，可以对游戏角色进行充值!">充值中心</a>
                </td>
                <td>&nbsp;</td>
            </tr>
        </table>
    </div>
</div>
