{include file="public/_meta"}
    {include file="public/_header"}
        <div style="height:410px;overflow:hidden;">
            {include file="public/_banner"}
        </div>
        <div align="center" class="bodybk">
            <div class="bodydiv" align="center">
                <table width="1200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="950" valign="top">
                            <!--最新游戏-->
                            <div class="box_top">
                                <div class="hong20T"><img src="/images/allgame.png" /></div>
                                    <!--快速查询-->
                                    <div class="youxilx">
                                        <div>游戏类型：
                                            <a href="">不限</a>
                							<a href=''>仙侠RPG</a>
                						</div>

                                        <div>游戏首拼：
                                            <a href="">不限</a>
											<a href=''>A</a>
										</div>
                                    </div>
                                    <!--@快速查询-->

                                    <div style="padding:5px 0px 0px 5px">
                                        <div class="youxi">
                                            <div class="youxiimg"><a href="" title=""><img src="" width="200" height="100" border="0" alt="" /></div>
				                            <div class="youxibt">
    					                        <div class="inyouxi"><a href="" title="点击进入游戏">进入游戏</a></div>
                                                <div class="youxiname">
                                                    <a href="" title=""></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <!--@最新游戏-->

                            <div style="clear:both"></div>
                            <!--page-->
                            <div class="youxipage">
                                <div>
                                    <a href="" title="第1页"><span class='youxipage1'>1</span></a>
                                </div>
                            </div>
                            <!--@page-->
                        </td>

                        <td valign="top">
                            <!--最新开服-->
                            <div class="box_top" style="width:240px">
                                <div class="hong20T"><img src="/images/zxkf.png" width="72" height="18" /></div>
                                <div>
                                    <table width="100%" border="0" cellspacing="1" cellpadding="0">
                                        <tr>
                                            <td width="12%" align="center"><img src="" width="13" height="13" /></td>
                                            <td width="65%" nowrap="nowrap">
                                                <a href="" title="点击进入">
                                                </a>
                                            </td>
                                            <td width="23%" nowrap="nowrap"><a href="" title="点击进入"><img src="/images/newser.gif" border="0" width="37" height="19" /></a></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <!--@最新开服-->

                            <!--游戏公告-->
                            <div class="box">
                                <div class="hong20T">游戏公告</div>
                                <div style="min-height:200px;padding:5px">
                                    <li class="slist">
                                        <a href="" title="" target="_blank"></a>
                                    </li>
                                </div>
                            </div>
                            <!--@游戏公告-->
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        {include fiel="public/_footer"}
</body>

</html>
