body{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    color: #666;
    background-color: #f2f2f2;
}

.header {
    position: relative;
    z-index: 21;
    background-color: #fff;
}

.hd-top{
    line-height: 30px;
    border-bottom: 1px solid #ececec;
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    z-index: 22;
    height: 86px;
    position: relative;
}

.w1200{
    height: 86px;
    width: 1200px;
}

.fl{
    float: left;
}

.logo-175{
    background-image: url(../../images/logo.png);
    width: 178px;
    height: 53px;
    left: 0;
    top: 16px;
    background: 0 0 no-repeat;
}
.logo-pay{
    height: 36px;
    left: 165px;
    top:22px;
    position: absolute;
}
