{include file="userpublic/_meta"}
<title>我的推广成果</title>
</head>

<body>
    <div align="center" style="background-color:#EEEEEE">
        <div align="left" style="width:1200px;">
            <!--top-->
            <div style="background-color:#FFFFFF;">
                {include file="userpublic/_top"}
            </div>
            <!--@top-->
            <div class="box" style="height:100%">
                <!--right-->
                <div class="right">
                    <div>当前位置：<a href="{:url('index')}">会员中心</a> >> 我推广的玩家</div>
                    <div class="box">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <td width="5%" align="center">头像</td>
                                    <td width="10%">用户名</td>
                                    <td width="12%">昵称</td>
                                    <td width="24%">邮箱</td>
                                    <td width="12%">QQ</td>
                                    <td width="12%">充值金额</td>
                                    <td width="25%">注册时间</td>
                                </tr>
                            </thead>
                            {volist name="cpsUsers" id="vo"}
                            <tr>
                                <td width="5%" align="center"><img src="{$vo.pic}" width="50" height="50" /></td>
                                <td>{$vo.users}</td>
                                <td width="12%">{$vo.name}</td>
                                <td width="24%">{$vo.email}</td>
                                <td width="12%">{$vo.qq}</td>
                                <td width="12%">{$vo.id}</td>
                                <td width="25%">{$vo.create_time}</td>
                            </tr>
                            {/volist}
                        </table>
                    </div>
                    {$cpsUsers->render()}
                </div>
                <!--@right-->

                <!--left-->
                <div class="left">
                    {include file="userpublic/_left"}
                </div>
                <!--@left-->
                <div style="clear:both"></div>
            </div>
        </div>
        {include file="public/_footer"}
    </div>
</body>

</html>
